* {
  /* border: solid black 1px; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-book-entry {
  display: none;
}

.form-dropdown {
  width: 100%;
}

.form-box {
  display: flex;
  justify-content: center;
}

.button-box, .form-box {
  padding: .25%;
}

.library-row {
  width: 960px;
}

.library-row > ul {
  /* text-align: center; */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* width: 100%; */
}

.close-btn {
  margin-left: 10px;
}

.titles {
  text-align: center;
  font-weight: bold;
}

.bookList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.listItem {
  list-style-type: none;
}

.booksContainer {
  width: 960px;
}

.titleListItem {
  width: 360px;
}

.authorListItem, .pageNumListItem, .readListItem {
  width: 120px;
  text-align: center;
}