* {

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-book-entry {
  display: none;
}

.form-dropdown {
  width: 100%;
}

.form-box {
  display: flex;
  justify-content: center;
}

.button-box, .form-box {
  padding: .25%;
}

.library-row {
  width: 480px;
}

.library-row > ul {
  /* text-align: center; */
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  /* width: 100%; */
}

.close-btn {
  margin-left: 10px;
}

